* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
  font-size: 16px;
}
body {
  background: #EDEDED;
  font-family: 微软雅黑;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
a,
button {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  border: none;
}
input,
button {
  border: none;
  outline: none;
}
header {
  width: 100%;
  height: 50px;
  background: #1F1F1F;
}
header .hed-box {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
header .hed-box > * {
  display: block;
  float: left;
}
header .hed-box .logo {
  width: 120px;
  height: 100%;
  margin-right: 20px;
}
header .hed-box .left {
  width: 400px;
  height: 100%;
}
header .hed-box .left li {
  float: left;
  line-height: 50px;
  text-align: right;
  width: 30%;
  height: 100%;
}
header .hed-box .left li a {
  color: #A7A7A7;
}
header .hed-box .right {
  width: 350px;
  height: 100%;
  float: right;
}
header .hed-box .right li {
  float: left;
  line-height: 50px;
  text-align: right;
  width: 30%;
  height: 100%;
}
header .hed-box .right li a {
  color: #A7A7A7;
}
.bg-box {
  width: 100%;
  height: 300px;
  background: url("../img/love.webp") no-repeat center center / cover;
  position: relative;
}
.bg-box .main {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.bg-box .main .touxiang {
  position: absolute;
  left: 0px;
  bottom: 25px;
  width: 120px;
  height: 120px;
  z-index: 33;
}
.bg-box .mask {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-box {
  width: 100%;
  min-height: 500px;
  background: #0E1011;
  padding-top: 20px;
}
.main-box .box {
  width: 1000px;
  height: auto;
  background: #000000;
  border: 1px solid #1F1F1F;
  position: relative;
  padding: 0 35px 200px;
  box-sizing: border-box;
  margin: 0 auto;
}
.main-box .box > h3 {
  line-height: 70px;
  font-size: 20px;
  color: #264B52;
  display: block;
  width: 1000px;
  height: 70px;
  font-weight: normal;
}
.main-box .box .header {
  display: block;
  width: 100%;
  height: 60px;
  border-top: 2px solid #1F1F1F;
  border-bottom: 1px solid #1F1F1F;
  font-size: 16px;
  color: #A7A7A7;
  line-height: 60px;
  font-weight: bolder;
}
.main-box .box .header > h3 {
  font-size: 20px;
}
.main-box .box .head {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}
.main-box .box .head img {
  margin: 10px 10px 10px 0;
}
.main-box .box .head p {
  color: #F49BC1;
  font-size: 14px;
}
.main-box .box .head p span {
  font-size: 18px;
}
.main-box .box .open {
  width: 100%;
  height: 30px;
}
.main-box .box .open > * {
  display: block;
  float: left;
}
.main-box .box .open h4 {
  font-size: 16px;
  color: #A7A7A7;
}
.main-box .box .open img {
  width: 20px;
  height: 20px;
}
.main-box .box .open span {
  padding: 0 20px;
  color: #A7A7A7;
}
.main-box .box .open a {
  color: #305E46;
  font-size: 14px;
  padding-left: 10px;
}
.main-box .box .top {
  width: 100%;
  height: auto;
  position: relative;
}
.main-box .box .top .top-t {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: #F2F1F1;
  color: #666;
  font-size: 14px;
}
.main-box .box .top #text {
  width: 100%;
  height: 120px;
  padding-top: 45px;
  font-size: 18px;
  color: #509300;
  font-family: 微软雅黑;
  box-sizing: border-box;
  padding-left: 5px;
}
.main-box .box .center {
  width: 100%;
  height: 30px;
  padding: 5px 0 20px;
}
.main-box .box .center #btn {
  width: 80px;
  height: 100%;
  border-radius: 3px;
  background-color: #1E4047;
  color: #fff;
  float: left;
}
.main-box .box .center p {
  display: block;
  float: right;
  width: 200px;
  height: 100%;
  color: #305E46;
}
.main-box .box .center p span {
  color: #F49BC1;
  font-size: 20px;
}
.main-box .box .bottom {
  width: 100%;
  height: auto;
}
.main-box .box .bottom > h4 {
  line-height: 50px;
  color: #509300;
}
.main-box .box .bottom li {
  width: 100%;
  height: 170px;
  line-height: 50px;
  color: #A7A7A7;
  position: relative;
  padding: 15px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #252525;
  border-top: 1px solid #252525;
}
.main-box .box .bottom li img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 33;
}
.main-box .box .bottom li .name {
  padding-left: 100px;
  line-height: 30px;
  font-size: 14px;
  color: #305E67;
}
.main-box .box .bottom li .name span {
  color: #A7A7A7;
  font-size: 12px;
}
.main-box .box .bottom li .name span i {
  font-size: 14px;
  font-style: normal;
}
.main-box .box .bottom li .right {
  display: block;
  height: 70px;
  padding: 5px 5px 5px 100px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 14px;
  color: #A7A7A7;
  line-height: 30px;
}
.main-box .box .bottom li #date {
  padding-left: 100px;
  box-sizing: border-box;
  color: #757575;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 50px;
  font-size: 12px;
}
